@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.content-wrapper {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  height: 3vw;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  font-size: 1.7vw;
  font-family: "Roboto", sans-serif;

  /* background-color: rgb(142, 180, 213); */
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.24);
}

nav ul li {
  list-style-type: none;
}

nav,
footer {
  background: rgb(33, 139, 130);
  background: linear-gradient(
    90deg,
    rgba(33, 139, 130, 1) 0%,
    rgba(152, 212, 187, 1) 100%
  );

  color: #fff;
}

a {
  text-underline-offset: 5px;
}

a:visited {
  color: aliceblue;
}

.game-board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 12vw);
  grid-template-rows: repeat(3, 12vw);
}

.cell {
  border: 1px solid black;
  border-radius: 0.5vw;
}

.cell:hover {
  background-color: rgba(231, 203, 169, 0.475);
}

.b-l-0 {
  border-left: 0;
}
.b-r-0 {
  border-right: 0;
}
.b-t-0 {
  border-top: 0;
}
.b-b-0 {
  border-bottom: 0;
}

footer {
  padding: 1rem;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 1.5vw;
  /* background-color: yellow; */
  background-color: #fff;
  -webkit-box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.24);
}

footer ul li {
  list-style-type: none;
}
